
$primary-color: #0a9396;
$white: #ffffff;
$hover-color: #6ca894;
$hover-secondary: #eee;
$destructive:#ae2012;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$primary-foreground: #555;
$accent: #005fa3;
$background: #f9f9f9;







$padding: 1rem; 





