@use "./variables" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;



// Global Reset & Box Sizing
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Base HTML/Body
html,
body {
  height: 100%;
  font-family: $font-family;
  background-color: $background;
  color: $text;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}
