@use "./variables" as *;

.comment-section {
  .comment {
    margin-left: 1rem;
    padding: 1rem;
    background: $background;
    border-radius: 14px;
    margin-bottom: 1rem;
    border-left: 2px solid #ccc;

    &.depth-1 {
      margin-left: 2rem;
    }
    &.depth-2 {
      margin-left: 3rem;
    }

    .top-row {
      display: flex;
      align-items: center;
      margin-bottom: 0.4rem;

      .meta {
        display: flex;
        flex-direction: column;
        width: 100%;

        .meta-row {
          font-size: 0.75rem;
          color: $primary-foreground;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          font-weight: 900;
          span {
            flex-shrink: 0;
          }
        }
        .hide-form {
          cursor: pointer;
          color: $primary-color;
          font-size: 0.75rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .comment.collapsed {
      .content,
      .actions,
      .reply-form,
      .replies {
        display: none;
      }
    }

    .content {
      font-size: 0.95rem;
      margin: 0.3rem 0;
    }

    .actions {
      font-size: 0.8rem;
      margin-bottom: 0.9rem;
      margin-top: 15px;
    }

    .edit-actions {
      font-size: 0.8rem;
      margin-bottom: 0.9rem;
      margin-bottom: 33px;
    }

    .reply-form {
      margin-top: 0.5rem;
      position: relative;
  width: 100%;
  
      .reply-actions {
        font-size: 0.8rem;
        margin-bottom: 0.9rem;
        display: flex;
      }

      textarea {
        width: 98%;
        resize: vertical;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 0.9rem;
      }
      
      textarea:disabled,
      button:disabled {
        background-color: $background;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  .new-comment {
    margin-bottom: 1rem;
    position: relative;
    width: 100%;

    textarea {
      width: 98%;
      resize: vertical;
      margin: 0.5rem 0;
      padding: 0.5rem;
      font-size: 1rem;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
   
  }
  .view-comments {
    cursor: pointer;
    margin-bottom: 25px;
    text-decoration: underline;
  }


  .load-more {
    cursor: pointer;
    color: $primary-color;
    font-size: 0.85rem;
    margin-top: 0.3rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
.dots-icon {
  cursor: pointer;
  position: relative;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
  background: none;
  border: none;
  box-shadow: none;
}

.dropdown-menu {
  position: absolute;
  top: 24px;
  right: 0;
  background-color: $white;
  border: 1px solid #ddd;
  box-shadow: $box-shadow;
  z-index: 10;
  border-radius: 6px;
  padding: 0.5rem;
  min-width: 100px;
  display: flex;
  flex-direction: column;
}

.dropdown-menu button {
  padding: 0.5rem;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-menu button:hover {
  background-color: $background;
}
